
services:
  backend:
    container_name: sysacad-backend-server
    image: sysacad-project-backend:0.9.0
    networks:
      sysacad-network:
        aliases:
          - backend.sysacad.localhost
    deploy:
      replicas: 1

    env_file: [".env"]
    depends_on:
      database: { condition: service_healthy }
      cache: { condition: service_healthy }
    ports:
      - "3000:3000"
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.backend.rule=Host(`backend.sysacad.localhost`)"
    #   - "traefik.http.routers.backend.tls=true"
    #   - "traefik.http.services.backend.loadbalancer.server.port=3000"
    #   - "traefik.docker.network=sysacad-network"

networks:
  sysacad-network:
    # name: sysacad-network
    # driver: bridge
    external: true

